---
import type { GetStaticPaths } from "astro";
import bases from "../../data/bases.yml";
import Layout from "../../layouts/Layout.astro";
import Configuratore from "../../components/Configuratore.svelte";
import PcCarousel from "../../components/PcCarousel.astro";

export const getStaticPaths = (() =>
  bases.map(base => ({
    params: { id: base.id },
  }))) satisfies GetStaticPaths;

const { id } = Astro.params;

const base = bases.find(base => base.id === id)!;
---

<Layout title={`ManuPC | ${base.name}`}>
  <div class="flex w-full items-center justify-center">
    <div class="card max-w-96 bg-base-100 shadow-xl">
      <figure class="flex-col bg-indigo-200 dark:bg-indigo-800">
        <PcCarousel base={base} />
      </figure>
      <div class="card-body">
        <h1 class="card-title">{base.name}</h1>
        <p>{base.description}</p>
        <p>Dimensioni: {base.size}</p>

        {
          () => {
            if (base.link) {
              return (
                <p>
                  Per saperne di più clicca{" "}
                  <a href={base.link} target="_blank" class="link link-primary">
                    questo link
                  </a>
                </p>
              );
            }
          }
        }

        <div class="divider" />

        <Configuratore base={base} client:only />

        <div class="divider" />

        <p class="text-sm">
          Assicurati di avere un account PayPal prima di proseguire, i pagamenti
          vengono processati su questa piattaforma
        </p>
      </div>
    </div>
  </div>
</Layout>
