---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import type { Base } from "../data/bases";

interface Props {
    base: Base;
}

const { base } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/*.{jpeg,jpg,png,gif}",
);
---

<div class="carousel w-full">
    {
        base.images.map((path, i) => {
            if (!images[path])
                throw new Error(
                    `"${path}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`,
                );

            return (
                <div id={`${base.id}-${i}`} class="carousel-item w-full">
                    <Image
                        src={images[path]()}
                        alt={`${base.id}-${i}`}
                        height={320}
                        class="h-[320px] w-full object-contain"
                    />
                </div>
            );
        })
    }
</div>
<div class="flex justify-center w-full py-2 gap-2">
    {
        base.images.map((_, i) => (
            <a href={`#${base.id}-${i}`} class="btn btn-xs">
                {i + 1}
            </a>
        ))
    }
</div>
